<md-card>
    <md-card-header>
        <md-card-title> {{application.applicant}}</md-card-title>
        <md-card-subtitle>{{application.title}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
        <p>BLABLABLA</p>
    </md-card-content>
    <md-card-actions>
        <button md-button (click)="showDocument=!showDocument">SEE DOCUMENTS</button>
        <button md-button routerLink="/chat">CHAT</button>
        <button md-button (click)="showApply=!showApply">ACCEPT</button>
        <button md-button (click)="showApply=!showApply">REFUSE</button>
    </md-card-actions>
</md-card>
<div *ngIf="showDocument">
    <md-card>
        <md-card-content>
            <md-list>
                <h3>Documents</h3>
                <md-list-item *ngFor="let document of documents">
                    <a target="_blank" href="{{document.url}}">OPEN</a>
                    <h3 md-line> {{document.applicant}}</h3>
                    <p md-line>
                        <span> {{document.title}} </span>
                    </p>
                </md-list-item>
            </md-list>
            <!--
                    <div *ngFor="let document of documents">
                        <button md-button color="primary" (click)="showApply=!showApply">OPEN</button> <p>{{document.title}}</p>
                    </div>
                    -->
        </md-card-content>
    </md-card>
</div>