<md-card>
    <md-card-header>
        <md-card-title>
            <span *ngIf="!(applicant$ | async).firstName">{{convention.login}} </span>
            <span *ngIf=" (applicant$ | async).firstName">{{(applicant$ | async).firstName}} {{(applicant$ | async).lastName}} </span>
            applied to offer n°{{convention.offer}} from {{convention.company}}
        </md-card-title>
        <md-card-subtitle>{{convention.state}}</md-card-subtitle>
    </md-card-header>
    <md-card-actions>
        <span *ngIf="convention.state != 'accepted' && convention.state != 'refused' && !(was_refused$ | async)">
            <button md-raised-button *ngIf="convention.state == 'wait_for_internship_office' && !(was_accepted$ | async)" (click)="acceptConvention()" color="primary">ACCEPT</button>
            <button md-raised-button (click)="refuseConvention()" color="accent">REFUSE</button>
        </span>
        <span *ngIf="!(convention.state != 'accepted' && convention.state != 'refused' && !(was_refused$ | async))">
            <button md-raised-button disabled *ngIf="convention.state == 'accepted' || (was_accepted$ | async)" color="primary">ACCEPTED</button>
            <button md-raised-button disabled *ngIf="convention.state == 'refused' || (was_refused$ | async)" color="primary">REFUSED</button>
        </span>
    </md-card-actions>
</md-card>

