<md-card>
    <md-card-title>Offers</md-card-title>
    <md-tab-group [(selectedIndex)]="selectedIndex">
        <md-tab>
            <template md-tab-label>
                Search by {{searchLabel[0]}}
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Search by {{searchLabel[1]}}
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Search by {{searchLabel[2]}}
            </template>
        </md-tab>
    </md-tab-group>
    <br>
    <form>
        <md-input value="{{search}}" #searchQuery placeholder="Search by {{searchLabel[selectedIndex]}}" style="width: 100%"></md-input>
    </form>
</md-card>

<div *ngFor="let offer of (offers$ | myfilterOffers: searchQuery.value: selectedIndex)">
    <app-offer-detail [id]="offer.id" [offer]="offer"></app-offer-detail>
</div>
