<md-sidenav-layout>

  <md-toolbar color="primary">

    Internsheep

    <span class="app-toolbar-filler"></span>
  </md-toolbar>



    <div class="app-content">
          <md-card>
              <md-input placeholder="Login" style="width: 100%"></md-input>
              <md-input placeholder="Password" style="width: 100%"></md-input>
              <md-slide-toggle color="primary">
                Remember me
              </md-slide-toggle>
          </md-card>
    </div>

</md-sidenav-layout>

<span class="app-action">
  <button md-fab><md-icon>check circle</md-icon></button>
</span>
