<md-toolbar color="primary">
    <a md-button routerLink="/home">INTERNSHEEP</a>
    <span class="app-toolbar-filler"></span>
    <button md-raised-button color="accent" (click)="goLogin()" *ngIf="!isLoggedIn()">LOG IN</button>
    <button md-raised-button color="accent" (click)="logout()" *ngIf="isLoggedIn()">LOG OUT</button>
</md-toolbar>
<md-sidenav-layout class="flex-grow">
    <md-sidenav #sidenav mode="side" opened="true" class="custom_width" layout="column">
        <md-nav-list *ngIf="isLoggedIn()">
            <a md-list-item routerLink="/student/profile" *ngIf="isStudent()"><div class="buttonSidenav">PROFILE</div></a>
            <a md-list-item routerLInk="/company/profile" *ngIf="isCompany()"><div class="buttonSidenav">PROFILE</div></a>
            <a md-list-item routerLink="/pending-conventions" *ngIf="isStaff()"><div class="buttonSidenav">PENDING CONVENTIONS</div></a>
            <a md-list-item routerLink="/offers"><div class="buttonSidenav">OFFERS</div></a>
            <a md-list-item routerLink="/chat"><div class="buttonSidenav">CHAT TEST</div></a>
        </md-nav-list>
    </md-sidenav>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
    <div id="snackbar"></div>
</md-sidenav-layout>