<div class="offer-container" *ngIf="isLoaded()">
    <md-card class="offer-info-text">
        <md-card-title>{{offer.title}}</md-card-title>
        <md-card-subtitle>Company: {{offer.company}}</md-card-subtitle>
    
        <!-- Speak about the picture
        <img md-card-image src="{{offer.picture}}">
        -->
        <md-card-content>
            {{offer.long_description}}
        </md-card-content>
    </md-card>
    <div>
        <md-card class="offer-info-specs">
            <md-card-header>
                <md-card-title>
                    Internship details
                </md-card-title>
            </md-card-header>
            <md-card-content>
                Location: {{offer.location}} <br>
                Duration: {{offer.duration}}<br>
                Start: {{getStart()}}
            </md-card-content>
        </md-card>
        <md-card class="offer-info-specs">
            <md-card-header>
                <md-card-title>
                    Company details
                </md-card-title>
            </md-card-header>
            <md-card-content>
                LOLOLOLOLOLOL
        </md-card-content>
        </md-card>
    </div>
</div>
