<md-card>
  <md-card-header>
    <img md-card-avatar src="http://papailhau.fr/img/me.jpg">
    <md-card-title>Arthur</md-card-title>
    <md-card-subtitle>Papailhau</md-card-subtitle>
  </md-card-header>
  <form>
    <table style="width: 100%" cellspacing="0">
      <tr>
        <td>
          <md-input placeholder="First name" style="width: 100%" value="Arthur" disabled></md-input>
        </td>
        <td>
          <md-input placeholder="Last Name" style="width: 100%" value="Papailhau" disabled></md-input>
        </td>
      </tr>
    </table>
    <md-input placeholder="Email" value="papailha@etud.insa-toulouse.fr" style="width: 100%" disabled></md-input>
    <md-input placeholder="Phone Number" #phoneNumber id="phoneNumber" value="+33678675645" [disabled]="stateFormProfile.inputDisabled"></md-input>
    <md-card-actions layout="row" layout-align="end center">
      <button md-raised-button color="{{stateFormProfile.color}}" style="float: right" (click)="editButtonClick()">
          {{stateFormProfile.label}}
        </button>
    </md-card-actions>
  </form>
</md-card>

<md-card *ngIf="starredOffers.length !== 0">
  <md-card-title>Starred offers</md-card-title>
  <md-list *ngFor="let offer of starredOffers">
      <md-list-item (click)="menuClick(offer)">
        <img md-list-avatar src="http://papailhau.fr/img/me.jpg">
        <h3 md-line> {{offer.company}} </h3>
        <p md-line>
          <span> {{offer.title}} </span>
          <span> -- {{offer.description}} </span>
        </p>
      </md-list-item>
  </md-list>
</md-card>

<md-card>
  <button md-raised-button color="accent" (click)="getProfile()">Show me my profile</button>
  <div *ngIf="user">
    <h2>{{user.name}} details!</h2>
    <div>
      <label>Name: </label> {{user.name}}
    </div>
    <div>
      <label>Family name: </label> {{user.familyName}}
    </div>
  </div>
</md-card>