<md-card *ngIf="CVs.length !== 0">
    <md-card-title>My Files</md-card-title>
    <md-list>
        <md-list-item *ngFor="let CV of CVs">
            <h4 md-line>
                <md-input value="{{CV.title}}" style="width: 100%" [disabled]="states[CV.id].inputDisabled"></md-input>
            </h4>
            <div md-line>
                <button md-button color="{{states[CV.id].color}}" (click)="removeButtonClicked(CV)">
                    REMOVE
                </button>
                <button md-button color="primary" (click)="showButtonClick(CV)">
                    SHOW
                </button>
            </div>
            <div md-line></div>
        </md-list-item>
    </md-list>
</md-card>
<md-card>
    <input type="file" ngFileSelect id="input-file-id-angular2" [options]="options" (onUpload)="handleUpload($event)" class="inputfile">
    <label for="input-file-id-angular2" md-raised-button color="primary">Choose Files</label>
</md-card>
<md-card *ngIf="progress !== 0 && progress !== 100">
    <md-progress-bar mode="determinate" value="{{progress}}"></md-progress-bar>
    {{progress}}
</md-card>