<md-card *ngIf="CVs.length !== 0">
    <md-card-title>My CVs</md-card-title>
    <md-list>
        <md-list-item *ngFor="let CV of CVs">
            <div md-line>
                <h4 style="display: inline-block;">
                    <md-input value="{{CV.name}}" style="width: 100%" [disabled]="states[CV.id].inputDisabled"></md-input>
                </h4>
                <button md-button color="{{states[CV.id].color}}" (click)="editButtonClick(CV)">
                    {{states[CV.id].label}}
                </button>
                <button md-button color="primary" (click)="showButtonClick(CV.url)">
                    SHOW
                </button>
            </div>
        </md-list-item>
    </md-list>
</md-card>
<md-card>
    <input type="file" ngFileSelect id="input-file-id-angular2" [options]="options" (onUpload)="handleUpload($event)" class="inputfile">
    <label for="input-file-id-angular2" md-raised-button color="primary">Choose Files</label>
</md-card>
<md-card *ngIf="progress !== 0">
    <md-progress-bar mode="determinate" value="{{progress}}"></md-progress-bar>
    {{progress}}
</md-card>