<md-card *ngIf="CVs.length !== 0">
    <md-card-title>My CVs</md-card-title>
    <md-list *ngFor="let CV of CVs">
        <md-list-item>
            <h3 md-line> <md-input value="{{CV.title}}" [disabled]="stateButtonFileManager.inputDisabled"></md-input> </h3>
            <p md-line>
                <span> BLABLABLA</span>
                <span> -- blablabla </span>
            </p>
        </md-list-item>
        <md-card-actions layout="row" layout-align="end center">
            <button md-raised-button color="{{stateButtonFileManager.color}}" style="float: right" (click)="editButtonClick(CV)">
                {{stateButtonFileManager.label}}
            </button>
        </md-card-actions>
    </md-list>
</md-card>
<md-card>
    <input type="file" ngFileSelect id="input-file-id-angular2" [options]="options" (onUpload)="handleUpload($event)" class="inputfile">
    <label for="input-file-id-angular2" md-raised-button color="primary">Choose Files</label>
</md-card>
<md-card *ngIf="progress !== 0">
    <md-progress-bar mode="determinate" value="{{progress}}"></md-progress-bar>
    {{progress}}
</md-card>