<h1>Hello, I am a notifications' list</h1>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>
<md-card>
    <md-card-header>
        <md-card-title>Airbus</md-card-title>
        <md-card-subtitle>Nouveau message</md-card-subtitle>
    </md-card-header>
    <md-card-content>
    </md-card-content>
    <md-card-actions>
        <button md-button>ANSWER</button>
    </md-card-actions>
</md-card>


