<md-card *ngIf="profile.name">
  <md-card-header>
    <img md-card-avatar src="http://papailhau.fr/img/me.jpg">
    <md-card-title>{{profile.name}}</md-card-title>
    <md-card-subtitle>{{profile.familyName}}</md-card-subtitle>
  </md-card-header>
  <form>
    <table style="width: 100%" cellspacing="0">
      <tr>
        <td>
          <md-input name="firstName" placeholder="First name" style="width: 100%" [(ngModel)]="profile.name" disabled></md-input>
        </td>
        <td>
          <md-input name="lastName" placeholder="Last Name" style="width: 100%" [(ngModel)]="profile.familyName" disabled></md-input>
        </td>
      </tr>
    </table>
    <md-input name="email" placeholder="Email" [(ngModel)]="profile.email" style="width: 100%" disabled></md-input>
    <md-input name="phone" placeholder="Phone Number" #phoneNumber id="phoneNumber" [(ngModel)]="profile.phone" [disabled]="stateFormProfile.inputDisabled"></md-input>
    <md-card-actions layout="row" layout-align="end center">
      <button md-raised-button color="{{stateFormProfile.color}}" style="float: right" (click)="editButtonClick()">
          {{stateFormProfile.label}}
        </button>
    </md-card-actions>
  </form>
</md-card>