<md-card *ngIf="profile.name">
  <md-card-header>
      <img md-card-avatar src="http://etud.insa-toulouse.fr/~ggomez/iky2/imgs/trouverImg.php?login={{(userprofile$ | async).login}}">
    <md-card-title>{{(userprofile$ | async).name}}</md-card-title>
    <md-card-subtitle>{{(userprofile$ | async).familyName}}</md-card-subtitle>
  </md-card-header>
  <form>
    <table style="width: 100%" cellspacing="0">
      <tr>
        <td>
          <md-input placeholder="First name" style="width: 100%" [value]="(userprofile$ | async).name"  disabled></md-input>
        </td>
        <td>
          <md-input placeholder="Last Name" style="width: 100%" [value]="(userprofile$ | async).familyName" disabled></md-input>
        </td>
      </tr>
    </table>
    <md-input placeholder="Email" [value]="(userprofile$ | async).email" style="width: 100%" disabled></md-input>
    <md-input placeholder="Phone Number" #phoneNumber id="phoneNumber" value="+33678675645" [disabled]="stateFormProfile.inputDisabled"></md-input>
    <md-card-actions layout="row" layout-align="end center">
      <button md-raised-button color="{{stateFormProfile.color}}" style="float: right" (click)="editButtonClick()">
          {{stateFormProfile.label}}
        </button>
    </md-card-actions>
  </form>
</md-card>
