<md-card>
    <md-card-title>Offers</md-card-title>
    <md-tab-group [(selectedIndex)]="selectedIndex">
        <md-tab>
            <template md-tab-label>
                Search by {{searchLabel[0]}}
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Search by {{searchLabel[1]}}
            </template>
        </md-tab>
        <md-tab>
            <template md-tab-label>
                Search by {{searchLabel[2]}}
            </template>
        </md-tab>
    </md-tab-group>
    <br>
    <form>
        <md-input value="{{search}}" #searchQuery placeholder="Search by {{searchLabel[selectedIndex]}}" style="width: 100%"></md-input>
    </form>
</md-card>

<div *ngFor="let offer of (offers | myfilterOffers: searchQuery.value: selectedIndex)">
    <md-card>
        <md-card-header>
            <md-card-title>{{offer.company}}</md-card-title>
            <md-card-subtitle>{{offer.title}}</md-card-subtitle>
        </md-card-header>
        <md-card-content>
            <p>{{offer.description}}</p>
        </md-card-content>
        <md-card-actions>
            <button md-button (click)="viewOffer(offer.id)">VIEW</button>
        </md-card-actions>
    </md-card>
</div>